@font-face {
  font-family: "Frankfurter";
  src: url("../fonts/frankfurter-regular.woff2") format("woff2");
}

@font-face {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

naar een idee van Jen Simmons
*, *::after, *::before {
  box-sizing:border-box;
}

:root {
  --color-headings: #E06187;
  --color-paragraph: darkslategrey;
  --color-paragraph-hover: #d6007b;
 }

body {
  background-image:
  repeating-linear-gradient( 0deg, rgba(255, 203, 224, 0.3) 0px 8px,	transparent 8px 16px),
  repeating-linear-gradient( 90deg, rgba(255, 203, 224, 0.3) 0px 8px,	transparent 8px 16px);
}

button:not([disabled]) {
  cursor:pointer;
}

img { 
  cursor: pointer; 
}

img {
  max-width:100%;
}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
  font-family: "Frankfurter";
  text-align: center;
  font-size: 3em;
  letter-spacing: 1px;
}

p{
  color:var(--color-paragraph);
  font-family: "futura-pt", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

p:hover{
  color:var(--color-paragraph-hover);
  font-family: "futura-pt", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

section {
  display: flex;
  max-height: 100px;
}


.image-container img{
  width: 100%;
  height: 100%;
  position: relative;
}

section > article:nth-child(1) {
  transform: translate(42px, 38px);
  flex: 1; 
  padding: 20px;
  max-width: 250px; 
}

img:nth-child(2) {
  position: absolute;
  top: -60px;
  left: -10px;
  height: 270px;
  transform: scale(1.2);
  rotate: 10deg;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.transition-image:hover {
  opacity: 1;
}

section > article:nth-child(2) {
  transform: translate(110px);
  flex: 1;
  padding: 30px;
  max-width: 390px; 
}

section > article:nth-child(3) {
  transform: translate(130px);
  flex: 1;
  padding: 30px;
  max-width: 330px; 
}

