@font-face {
  font-family: "Frankfurter";
  src: url("../fonts/frankfurter-regular.woff2") format("woff2");
}

@font-face {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

naar een idee van Jen Simmons *,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-headings: #e06187;
  --color-paragraph: darkslategrey;
  --color-paragraph-hover: #d6007b;
}

body {
  background-image: repeating-linear-gradient(
      0deg,
      rgba(255, 203, 224, 0.3) 0px 8px,
      transparent 8px 16px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 203, 224, 0.3) 0px 8px,
      transparent 8px 16px
    );
}

button:not([disabled]) {
  cursor: pointer;
}

img {
  cursor: pointer;
  max-width: 100%;
}

p:hover {
  color: var(--color-paragraph-hover);
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color: var(--color-headings);
  font-family: "Frankfurter";
  text-align: center;
  font-size: 3em;
  letter-spacing: 1px;
}

p {
  color: var(--color-paragraph);
  font-family: "futura-pt", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  position: relative;
  scale: 0.9;
  transform: translate(0em, -3em);
}

section > article:nth-of-type(1) {
  transform: translate(2.6em);
  flex: 1;
  padding: 1.25em;
  max-width: 250px;
}

article > img:nth-of-type(2) {
  position: absolute;
  top: -120px;
  left: 10px;
  height: 270px;
  transform: scale(0.9);
  rotate: 5deg;
  opacity: 0;
}

.transition-image:hover {
  opacity: 1;
}

.image-container:hover .closed-envelope {
  opacity: 0;
}

article:nth-of-type(2) {
  transform: translate(10em);
  flex: 1;
  padding: 30px;
  max-width: 390px;
}

article:nth-of-type(2) > img {
  margin-bottom: 2em;
  scale: 1.4;
}

article:nth-of-type(3) {
  transform: translate(15.6em);
}

.image-container2 > img:nth-of-type(1) {
  flex: 1;
  padding: 30px;
  max-width: 200px;
  position: relative;
  scale: 0.8;
  
}

.image-container2 > img:nth-of-type(2) {
  flex: 1;
  padding: 30px;
  max-width: 200px;
  position: absolute;
  rotate: 0deg;
  top: 0px;
  left: 0px;
  opacity: 1;
  scale: 1;
}

.image-container2:hover > img:nth-of-type(1) {
  flex: 1;
  padding: 30px;
  max-width: 200px;
  position: relative;
  transform: translate(20px);
  rotate: 10deg;
}

.image-container2:hover > img:nth-of-type(2) {
  flex: 1;
  padding: 30px;
  max-width: 200px;
  position: absolute;
  opacity: 1;
  scale: 1;
  rotate: -5deg;
}

article:nth-of-type(4) {
  flex: 1;
  padding: 30px;
  max-width: 500px;
  transform: translate(-50em, 20em);
}

article:nth-of-type(4) > img:nth-of-type(1) {
  scale: 2;
  margin-bottom: 2em;
}

article:nth-of-type(4) > img:nth-of-type(2) {
  scale: 1.1;
  margin-bottom: 2em;
  flex: 1;
  padding: 30px;
  max-width: fit-content;
  max-height: fit-content;
  position: absolute;
  opacity: 1;
  rotate: 0deg;
  transform: translate(-6.7em, 3.355em);
}

button {
  height: 100px;
  width: 50px;
  background-color: #555;
  transform: translate(-59em, 21.5em);
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  transition-duration: 0.2s;
}

button > p {
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  text-align: center;
  font-size: 1.2em;
}

button:hover {
  background-color: rgb(255, 230, 248);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover > p {
  color: var(--color-paragraph-hover);
  font-family: "futura-pt", sans-serif;
  text-align: center;
  font-size: 1.2em;
}
