@font-face {
  font-family: "Frankfurter";
  src: url("../fonts/frankfurter-regular.woff2") format("woff2");
}

naar een idee van Jen Simmons *,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-headings: #e06187;
  --color-paragraph: #2d2d2d;
  --color-paragraph-hover: #ffffff;
  --color-dialog-border: #FFB6D2;
  --color-dialog-background: #fff5f9;
  --color-dialog-text: #4b0f2f;
  --color-hellokitty-red: #CE000C;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-hellokitty-red);; 
  border-radius: 10px;
}

body {
  background-image: repeating-linear-gradient(
      0deg,
      rgba(255, 203, 224, 0.3) 0px 8px,
      transparent 8px 16px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 203, 224, 0.3) 0px 8px,
      transparent 8px 16px
    );
}

button:not([disabled]) {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: .8fr .8fr; 
  gap: 1em; 
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color: var(--color-hellokitty-red);
  font-family: "Frankfurter";
  text-align: center;
  font-size: 3em;
  letter-spacing: 1px;
}

h2 {
  color: var(--color-hellokitty-red);
  font-family: "Frankfurter";
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
}

a{
  color: var(--color-hellokitty-red);
}

p {
  color: var(--color-paragraph);
  font-family: "futura-pt", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Enveloppen */

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  scale: 0.9;
  transform: translate(0em,-2em);
}

/* section > article:nth-of-type(1) {
  transform: translate(2.6em); 
  flex: 1;
  padding: 1.25em; 
  max-width: 250px;
} */

article:nth-of-type(1) > img:nth-of-type(1) {
  transform: translate(2.6em, 1em); 
  flex: 1;
  max-width: 250px;
}

article:nth-of-type(1) > img:nth-of-type(2) {
  transform: translate(-2em); 
  position: absolute;
  top: -3em;
  left: 5em;
  height: 15em;
  scale: 1;
  rotate: 5deg;
  opacity: 0;
}

body > section article:nth-of-type(1) .transition-image:hover {
  opacity: 1 ;
}

.image-container:hover .closed-envelope {
  opacity: 0;
}

/* article:nth-of-type(2) {
   transform: translate(10em);
  padding: 30px;
  max-width: 390px; 
} */

/* Filmrol */

article:nth-of-type(2) > img {
  width: 30em;
}

/* Polaroid foto's */

article:nth-of-type(3) {
  position: relative;
  transform: translate(1em);
}

.image-container2 img{
  transform: translate(5.5em);
}

/* .image-container2 p{
  transform: translate(0em, -2em);
} */

/* Achterste polaroid */
.image-container2 > img:nth-of-type(1) {
  flex: 1;
  /* padding: 30px; */
  max-width: 200px;
  position: relative;
  scale: 0.8;
}

/* Voorste polaroid */
.image-container2 > img:nth-of-type(2) {
  padding: 1em;
  max-width: 200px;
  position: absolute;
  rotate: 0deg;
  top: 0px;
  left: 0px;
  opacity: 1;
  scale: 0.8;
}

/* Achterste polaroid hover state*/
.image-container2:hover > img:nth-of-type(1) {
  max-width: 200px;
  position: relative;
  transform: translate(20px);
  rotate: -10deg; 
  scale: 0.8;
}

/* Voorste polaroid hover state*/
.image-container2:hover > img:nth-of-type(2) {
  padding: 30px;
  max-width: 200px;
  position: absolute;
  opacity: 1;
  scale: 0.8;
  rotate: 5deg;
}

/* TV */

.image-container3 {
  position: relative;
  display: grid;
  grid-template-columns: 16em max-content;
  column-gap:1em;
}

article:nth-of-type(4) img {
  width:100%;
}

/* article:nth-of-type(4) p {
  grid-column-start: 1;
  grid-column-end: 3;
} */

.tv-uit-image {
  scale: 2;
  margin-bottom: 2em;
  justify-content: center;
  position: absolute;
  scale: 2; 
}

.tv-aan-image{
  z-index: 2;
}

/* Afstandsbediening toggle knop */

#toggle-button {
  height: 80px;
  width: 40px; 
  background-color: #555;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  transition-duration: 0.2s;
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  font-size: 1.1em;
  align-self: center;
}

/* Afstandsbediening hover state */

#toggle-button:hover {
  background-color: rgb(255, 230, 248);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #2d2d2d;
}


/* Luchtballon animatie 
   Animation (aangepast): https://codepen.io/whusterj/pres/bdYKop?editors=1100 */

article:nth-of-type(5) {
  transform: translate(0em, -2em);
}

article:nth-of-type(5) img{
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes floating {
  from { transform: translate(0,  0em); }
  65%  { transform: translate(0, 1em); }
  to   { transform: translate(0, -0em); }    
}

/* Video */

.video2{
  width: 20em; 
  height: auto;
  transform: translate(1em);
  border-radius: 0.8em;
}

/* Modal styling */

/* Styling van dialoogvensters */
dialog {
  /* padding: 1em; */
  width: 55em;
  height: 25em;
  border-color: var(--color-hellokitty-red);
  background-color: var(--color-dialog-background);
  border-style: dotted;
  border-radius: 1em;
}

/* Styling van secret dialoogvenster */
#hiddenModal{
  width: 55em;
  height: 25em;
  border-color: #FEFEFE;
  background-color: #CE000C;
  border-style: dotted;
  border-radius: 1em;
}

/* Tekst binnen de dialoogvensters */
dialog p {
  display: block;
  margin-left: 2em;
  margin-right: 1em;
  font-size: 1.2em;
  text-align: left;
  color: var(--color-dialog-text);
}

/* Tekst binnen secret dialoogvenster */
#hiddenModal p {
  display: block;
  margin-left: 2em;
  margin-right: 1em;
  font-size: 1.2em;
  text-align: left;
  color: #FEFEFE;
}

#hiddenModal > .button-close {
  width: 2em;
  height: 2em;
  border-radius: 20%;
  border-style: none;
  color: var(--color-hellokitty-red);
  background:  var(--color-dialog-background);
  font-family: "futura-bold", sans-serif;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

#hiddenModal h2 {
  color: #FEFEFE;
}

dialog article{
  display: flex;
}

/* Styling van de knop om dialoogvensters te openen */
#btnOpen {
  width: 5em;
  height: 3em;
  transform: translate(0, 2em);
  border-radius: 28px;
  color:  var(--color-paragraph);
  background: #ffecf1;
  text-decoration: none;
  text-align: center;
  border-style:dotted ;
  border-color: var(--color-hellokitty-red);
  display: block;
  margin: auto;
}

#btnOpen p{
  transform: translate(0, -0.8em);
  /* font-size: 0.8em; */
}

#btnOpen:hover {
  background: var(--color-hellokitty-red);
  text-decoration: none;
  border-color: #ffecf1;
}

#btnOpen:hover p{
  color: #ffecf1;
}

/* secret button */
#hiddenButton{
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  display: none;
  width: 2em;
  height: auto;
  padding: 0;
  border: none;
  background: none;
}

.button-close {
  width: 2em;
  height: 2em;
  border-radius: 20%;
  border-style: none;
  color:  var(--color-dialog-background);
  background: var(--color-hellokitty-red);
  font-family: "futura-bold", sans-serif;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.button-close p {
 text-align: center;
 /* font-size: 2em; */
}

dialog::backdrop {
  background: #2d2d2d;
  opacity: 0.6;
}

/* De video binnen het tweede dialoogvenster */
.video1 {
  width: 18em; 
  height: 13em;
  border-radius: 0.8em;
  display: block;
  margin: auto;
  margin-left: 0.8em;
}

/* Gallerij met foto's in modal 1 */

.column {
  float: left;
  width: 18%;
  display: block;
  margin: auto;
}

.column img{
height: 80%;
}

Clearfix (clear floats)
.gallery::after {
  content: "";
  clear: both;
  display: table;
}